@font-face {
    font-family: 'nunito';
    src: url('../font/Nunito-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'nunito';
    src: url('../font/Nunito-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'nunito';
    src: url('../font/Nunito-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: nunito;
}

html {
    background-color: #100D28;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

header {
    height: 16vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    z-index: 1;
    color: white;
    font-size: 40px;
    font-weight: 700;
    margin-top: 60px;
}

h2 {
    color: #945067;
    font-size: 25px;
    font-weight: 700;
    margin: 30px 0px 20px 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

header svg {
    position: absolute;
    z-index: -1;
}

#background {
    background-image: url("../img/header.png");
    background-size: cover;
    height: 25vh;
    width: 110vw;
    position: absolute;
}

#message {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    overflow-y: scroll;
    height: 70vh;
}

#ui {
    display: none;
}

#ui form {
    display: flex;
    flex-direction: column;
    height: 70vh;
}

.deviceButton {
    width: 340px;
    min-height: 50px!important;
    background-color: #8F0031;
    margin: 12px 0 12px 0;
    border-radius: 15px;
    border: 0px;
    font-family: 'nunito';
    font-size: 18px;
    transition: 200ms ease-out;
}

.deviceButton:active {
    background-color: #53011c;
}

#disconnectButton {
    display: none;
    width: 90px;
    min-height: 34px!important;
    background-color: #100d28;
    margin: 10px 0 10px 0;
    border-radius: 15px;
    border: 0px;
    font-family: 'nunito';
    font-size: 14px;
    position: absolute;
    top: 0;
    right: 10px;
    transition: 200ms ease-out;
}

#disconnectButton:hover {
    background-color: #090716;
}

.poleButton,
.speedButton {
    width: 32px;
    height: 32px;
    background-color: #c9c9c9;
    border-radius: 50%;
    vertical-align: middle;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    color: #BBBBBB;
    transition: 200ms ease-out;
}

.poleButton:checked,
.speedButton:checked {
    background-color: #8F0031;
}

#ui {
    display: none;
    flex-direction: column;
    align-items: flex-start;
}

#ui div {
    display: flex;
    margin: 8px 10px 8px 10px;
    align-items: center;
    margin-left: 26px;
}

#ui div label {
    color: #BBBBBB;
    margin-left: 10px;
    font-size: 20px;
}

#ui button:last-child {
    width: 240px;
    min-height: 50px!important;
    background-color: #8F0031;
    border-radius: 15px;
    border: 0px;
    font-family: 'nunito';
    font-size: 18px;
    margin: 30px 0;
    align-self: center;
    transition: 100ms ease-out all;
}

#ui button:last-child:active {
    background-color: #8f2e50;
}

#ui button:last-child:disabled {
    background-color: #797979;
}

h2 #data {
    background-color: green;
    color: white;
    border-radius: 5px;
    padding: 2px 10px;
    font-size: 13px;
    margin: 0px 10px;
    text-align: center;
    animation: 2s linear infinite alternate blink;
}

h2 #error {
    color: white;
    /* padding: 2px 10px; */
    font-size: 16px;
    /* margin: 0px 10px; */
    text-align: center;
}

@keyframes blink {
    from {
        background-color: green;
    }
    to {
        background-color: rgb(0 69 0);
    }
}